v1: Question about regexp in MediaType Attribute Format

> func Format(f string)
> Format adds a “format” validation to the attribute. See http://json-schema.org/latest/json-schema-validation.html#anchor104. The formats supported by goa are:
> “date-time”: RFC3339 date time
> “email”: RFC5322 email address
> “hostname”: RFC1035 internet host name
> “ipv4”, “ipv6”, “ip”: RFC2373 IPv4, IPv6 address or either
> “uri”: RFC3986 URI
> “mac”: IEEE 802 MAC-48, EUI-48 or EUI-64 MAC address
> “cidr”: RFC4632 or RFC4291 CIDR notation IP address
> **“regexp”: RE2 regular expression**

```
var Blog = MediaType("application/vnd.blog+json", func() {
	Description("A blog")
	Attributes(func() {
		Attribute("id", String, "ID of blog", func() {
			Format("regexp")
			Example("my-blog")
		})
}
```
Where/how can I define the value of the regexp format?

> func Pattern(p string)
> 
> Pattern adds a “pattern” validation to the attribute. See http://json-schema.org/latest/json-schema-validation.html#anchor33.