Support HTTP date format when designing the API

when specifying HTTP headers such as `If-Modified-Since` in the incoming requests, it would be interesting to enforce the expected format to comply with the HTTP specification, in particular with https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html:

````
HTTP applications have historically allowed three different formats for the 
representation of date/time stamps:

      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format
The first format is preferred as an Internet standard and represents a fixed-length subset of 
that defined by RFC 1123 [8] (an update to RFC 822 [9]). The second format is in common use, 
but is based on the obsolete RFC 850 [12] date format and lacks a four-digit year. HTTP/1.1 
clients and servers that parse the date value MUST accept all three formats (for compatibility 
with HTTP/1.0), though they MUST only generate the RFC 1123 format for representing HTTP-date 
values in header fields.
````
If we use the following design:

````go
a.Headers(func() {
	a.Header("If-Modified-Since", d.DateTime)
	...
}
````
Then we get a failure from Chrome if it sends a request with an `If-Modified-Since` header because it cannot be converted to a `time.Time`:

> If-Modified-Since:2017-03-28 11:15:54 +0000 UTC 

> {"errors":[{"code":"invalid_request","detail":"invalid value \"2017-03-28 11:15:54 +0000 UTC\" for parameter \"If-Modified-Since\", must be a datetime","status":"400","title":"Bad Request"}]}

Our current work-around is to declare the `If-Modified-Since` header as a `String` at the design level:
````go
a.Headers(func() {
	a.Header("If-Modified-Since", d.String)
	...
}
````
and then convert the context value into a `time.Time`:

````go
if ctx.IfModifiedSince != nil {
	val, _ := http.ParseTime(*ctx.IfModifiedSince)
	return &val
}
return nil
````

Although this works fine, it would be much simpler and cleaner if Goa could take care of this and return the proper `IfModifiedSince` request header as a `time.Time` value. Maybe by adding an `HTTPDateTime` type that would support all 3 formats from the spec ?

Adding a design type is a big change both to implement and to document. All generators would have to be updated to support it (what does the JavaScript look like? the client? the swagger spec? etc.). Supporting a different format is just not a good justification for it.

There is however a `Format` DSL function that could be leveraged for this, something like:
```go
Attribute("if_last_modified", DateTime, func() {
    Format("rfc1123")
}
```
could be implemented. PRs welcome :)

Resolved?

It should be, can you confirm @xcoulon?

Thanks for the notification, @raphael ! I will check that and let you know.

Closing the issue, feel free to re-open if something isn't quite right.